<html>
<head>
    <meta charset="UTF-8">
    <title>MyShop</title>
    <meta name="viewport" content="width=device-width, inicial=scale">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/normalize.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="css/font-awesome.css">
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
    <script src="scripts.js"></script>


</head>
<body ng-app="myApp" ng-controller="Controller">

<!--Добавление товара-->

                <header class="site-header clearfix">
                <h1 class="myclass">MyShop</h1>
                <nav id="main-menu">
                    <ul>
                        <li><a href="">Main</a></li>
                        <li><a href="">About us</a></li>
                        <li><a href="">Contacts</a></li>
                    </ul>
                </nav>
                </header>

                <main>
                    <section class="infosite">
                        <h2>Fruits and vegetables</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    </section>
                <div class="wrapper-col clearfix">
                    <section class="col-main" ng-show="productView">
                            <!-- Название -->
                            <div class="post-header">
                                <h2>Add new product</h2>
                            </div>
                            <div class="post-content">

                                <form role="form" class="form-inline">

                                    <div class="form-group">
                                        <label >Product</label>
                                        <input type="text" ng-model="product.name" class="form-control" placeholder="add product">
                                    </div>

                                    <div class="form-group">
                                        <label >Price</label>
                                        <input type="text" ng-model="product.price" class="form-control" placeholder="add price">
                                    </div>

                                    <div class="form-group">
                                        <label >Unit</label>
                                        <input type="text" ng-model="product.unit" class="form-control" placeholder="add unit">
                                    </div>

                                        <button type="submit" ng-click="saveProduct()" class="btn btn-success">Save</button>
                                </form>
                            </div>
                            <table id="myTable" class="table">
                                <thead class="thead-inverse">
                                <tr>
                                    <th scope="col">#</th>
                                    <th>Products</th>
                                    <th>Price</th>
                                    <th>Unit</th>
                                </thead>
                                <tbody>
                                </tr>
                                <tr ng-click="loadProduct(x,$index)" ng-repeat="x in products" ng-class="{'highlight': $index == selectedRow}">
                                    <th scope="row">{{$index + 1}}</th>
                                    <td>{{x.name}}</td>
                                    <td>{{x.price}}</td>
                                    <td>{{x.unit}}</td>
                                </tr>
                                </tbody>
                            </table>
                            <button type="submit" ng-click="deleteProduct()" class="btn btn-success">Delete</button>
                    </section>
                    <p></p>

                    <section class="col-main" ng-show="sellerView">
                        <article class="post">
                            <!-- Название -->
                            <div class="post-header">
                                <h2>Add seller</h2>
                            </div>

                            <!-- Seller -->
                            <div class="post-content">

                                <form>

                                    <div class="row">
                                        <div class="col-md-3">
                                        <label >Имя</label>
                                        <input type="text" ng-model="seller.firstname" class="form-control" placeholder="Имя">
                                        </div>
                                        <div class="col-md-3">
                                        <label >Фамилия</label>
                                        <input type="text" ng-model="seller.lastname" class="form-control" placeholder="Фамилия">
                                        </div>
                                        <div class="col-md-3">
                                        <label >Отчество</label>
                                        <input type="text" ng-model="seller.secondname" class="form-control" placeholder="Отчество">
                                        </div>
                                        <div class="col-md-3">
                                            <label >Дата рождения</label>
                                        <input type="date" name="input" ng-model="birthday.value"
                                               placeholder="yyyy-MM-dd" required class="form-control" placeholder="Дата рождения">
                                        </div>
                                        <div class="col-md-3">
                                            <p></p>
                                            <label>Начало работы</label>
                                        <input type="date" name="input" ng-model="startDate.value"
                                               placeholder="yyyy-MM-dd" required class="form-control" placeholder="Начало работы">
                                        </div>
                                        <div class="col-md-3">
                                            <p></p>
                                            <label >E-mail</label>
                                        <input type="text" ng-model="seller.email" class="form-control" placeholder="E-mail">
                                        </div>
                                        <div class="col-md-3">
                                            <p></p>
                                            <label >Телефон</label>
                                        <input type="text" ng-model="seller.phonenumber" class="form-control" placeholder="Телефон">
                                        </div>
                                        <div class="col-md-3">
                                            <p></p>
                                            <label >Адрес</label>
                                        <input type="text" ng-model="seller.address" class="form-control" placeholder="Адрес">
                                        </div>
                                    </div>
                                    <p></p>
                                    <button type="submit" ng-click="saveSeller()" class="btn btn-success">Сохранить</button>
                                </form>
                            </div>

                            <table id="sellersTable" class="table">
                                <thead class="thead-inverse">
                                <tr>
                                    <th scope="col">#</th>
                                    <th>Имя</th>
                                    <th>Фамилия</th>
                                    <th>Отчество</th>
                                    <th>Дата рождения</th>
                                    <th>Начало работы</th>
                                    <th>Эл. почта</th>
                                    <th>Телефон</th>
                                    <th>Адрес</th>
                                </thead>
                                <tbody>
                                </tr>
                                <tr ng-repeat="x in sellers" ng-click="loadSeller(x,$index)" ng-class="{'highlight': $index == selectedRow}">
                                    <th scope="row">{{$index + 1}}</th>
                                    <td>{{x.firstname}}</td>
                                    <td>{{x.lastname}}</td>
                                    <td>{{x.secondname}}</td>
                                    <td>{{x.birthday}}</td>
                                    <td>{{x.startworkdate}}</td>
                                    <td>{{x.email}}</td>
                                    <td>{{x.phonenumber}}</td>
                                    <td>{{x.address}}</td>
                                </tr>
                                </tbody>
                            </table>
                            <button type="submit" ng-click="deleteSeller()" class="btn btn-success">Delete</button>
                        </article>
                    </section>


                    <aside class="col-sidebar">
                        <div class="container-form">
                            <form type="get" action="form.php">
                                <input type="text" id="search-form" name="search" placeholder="Поиск">
                                <button>
                                    <i class="fa fa-search"></i>
                                </button>
                                </input>
                            </form>
                        </div>
                        <div class="container-category">
                            <ul class="cat-list">
                                <li><a ng-click="viewProducts()">Products</a></li>
                                <li><a ng-click="viewSellers()">Sellers</a></li>
                                <li><a href="">Customers</a></li>
                            </ul>

                        </div>
                    </aside>
                    <!--aside используется для создаания сайдбаров на странице -->
                </div>
                <!-- wrapper-col это обертка, в которую мы заворачиваем section и aside -->
                </main>








</body>
</html>