<html>
<head>
    <meta charset="UTF-8">
    <title>MyShop</title>
    <meta name="viewport" content="width=device-width, inicial=scale">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/normalize.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="css/font-awesome.css">
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
    <script src="scripts.js"></script>


</head>
<body ng-app="myApp" ng-controller="Controller">

<!--Добавление товара-->

                <header class="site-header clearfix">
                <h1 class="myclass">MyShop</h1>
                <nav id="main-menu">
                    <ul>
                        <li><a href="">Main</a></li>
                        <li><a href="">About us</a></li>
                        <li><a href="">Contacts</a></li>
                    </ul>
                </nav>
                </header>

                <main>
                    <section class="infosite">
                        <h2>Fruits and vegetables</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    </section>
                <div class="wrapper-col clearfix">
                    <section class="col-main">
                            <!-- Название -->
                            <div class="post-header">
                                <h2>Add new product</h2>
                            </div>
                            <div class="post-content">

                                <form role="form" class="form-inline">

                                    <div class="form-group">
                                        <label >Product</label>
                                        <input type="text" ng-model="product.name" class="form-control" placeholder="add product">
                                    </div>

                                    <div class="form-group">
                                        <label >Price</label>
                                        <input type="text" ng-model="product.price" class="form-control" placeholder="add price">
                                    </div>

                                    <div class="form-group">
                                        <label >Unit</label>
                                        <input type="text" ng-model="product.unit" class="form-control" placeholder="add unit">
                                    </div>

                                        <button type="submit" ng-click="saveProduct()" class="btn btn-success">Save</button>
                                </form>
                            </div>
                            <table id="myTable" class="table table-hover">
                                <thead class="thead-inverse">
                                <tr>
                                    <th scope="col">#</th>
                                    <th>Products</th>
                                    <th>Price</th>
                                    <th>Unit</th>
                                </thead>
                                <tbody>
                                </tr>
                                <tr ng-click="loadProduct(x)" ng-repeat="x in products">
                                    <th scope="row">{{$index + 1}}</th>
                                    <td>{{x.name}}</td>
                                    <td>{{x.price}}</td>
                                    <td>{{x.unit}}</td>
                                </tr>
                                </tbody>
                            </table>
                            <button type="submit" ng-click="deleteProduct()" class="btn btn-success">Delete</button>
                    </section>
                    <aside class="col-sidebar">
                        <div class="container-form">
                            <form type="get" action="form.php">
                                <input type="text" id="search-form" name="search" placeholder="Поиск">
                                <button>
                                    <i class="fa fa-search"></i>
                                </button>
                                </input>
                            </form>
                        </div>
                        <div class="container-category">
                            <ul class="cat-list">
                                <li><a href="">Add Product</a></li>
                                <li><a href="http://localhost:8095/seller.html">Sellers</a></li>
                                <li><a href="">Customers</a></li>
                            </ul>

                        </div>
                    </aside>
                    <!--aside используется для создаания сайдбаров на странице -->
                </div>
                <!-- wrapper-col это обертка, в которую мы заворачиваем section и aside -->
                </main>








</body>
</html>